@import (reference) "../style/theme.less";
@import "~rfs/less";

.about_me_header,
.projects_header {
  .font-size(2rem);
}

.project_titles {
  .font-size(1.75rem);
}

.about_me,
.drone_project {
  .font-size(1.5rem);
}

@media @laptop {
  .about_me_header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .profile_pic_and_about_me {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .about_me {
      display: flex;
      flex: 0.5;
      align-items: center;
    }
  }

  .projects_header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  h3 {
    padding-top: 1.5rem;
  }

  .projects {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .drone_project {
      display: flex;
    }
  }
}

@media @desktop {
}

@media @tv {
}
