// Incorporate a css reset to remove all default browser settings or
// use a css normalize to normalize default browser settings
// Look for libraries that will perform a css reset and/or css normalize

// Here we create styles that will be used throughout the website or mostly throughout
// Make a style folder and import styles when needed using less
// Create modules that use styles for a specific component

// body {
//   margin: 0;
//   font-family: Arial, Helvetica, sans-serif;
// }

// h4 {
//   margin: 0;
//   padding: 0;
//   border: 1px solid black;
// }

// ul {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
// }

// a {
//   text-decoration: none;
//   text-align: center;
//   color: #fff;
//   display: block;
//   padding: 10px;
//   border: 1px solid black;
// }

// a:hover {
//   color: #ffbf5f;
// }

/* Basic styling */
// html {
//   overflow: auto;
//   overscroll-behavior: contain;
// }

// Move to theme & rename theme to breakpoints?
@import "~fontsource-roboto/400.css";
@import "~rfs/less";

@rfs-breakpoint-unit: em;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #0b0c10;
}

nav {
  background-color: #0a0c10;
  display: flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  overflow: auto;
  top: 0;
  z-index: 1;
}

a {
  color: #66fcf1;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

h1 {
  color: #66fcf1;
}

h2 {
  color: #66fcf1;
}

p {
  color: #c5c6c7;
}
